@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap')
:root{
    --primary-color: rgb(13, 106, 134);
}
*{
    box-sizing: border-box;
    outline: none;
}
body{
    margin: 0;
    padding: 0;
    background:rgb(13, 106, 134);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
.container{
    max-width: 640px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
  

}
form input, form label, form button{
    display:block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}
form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}
form input:focus {
    outline: 1px solid rgb(13, 106, 134) ;
}
form button {
    border: none;
    background: rgb(13, 106, 134);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}
form button:hover{
    background: rgba(12, 52, 65, 0.534);
}
form button:active{
    background: rgba(138, 34, 138, 0.534);
}